@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-display: "Space Grotesk", sans-serif;
  --font-sans: "Inter", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-space-grotesk: var(--font-space-grotesk);
  --font-inter: var(--font-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
/* 
@theme inline {
    } */
    .article {
        @apply flex flex-col gap-3 font-inter text-lg tracking-wide mb-20
    }
    
    .article > h1{
        @apply text-4xl font-space-grotesk tracking-tight text-center my-5
    }
    
    .article > p {
        @apply text-lg font-inter
    }
